<div class="form-section">
  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-body">
      <div class="form">
        <%= f.label :password, "新密码" %>
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="form-footer">
      <%= f.submit "更新密码", class: "submit-btn button"%>
    </div>
  <% end %>
</div>
