<%= div_for comment do %>
  <div class="comment_head">
    <i class="icon-comment"></i>
    <%= link_to comment.user.name, comment.user%>
    <span class="comment_parent">
       <%= t("commented_on") %>
       <% @parent=Episode.find(comment.episode_id) %>
       <%= link_to @parent.name, @parent %>
    </span>
    <span class="comment_time">
      <%= time_ago_in_words comment.created_at  %>前
    </span>
  </div>
  <div class="comment_body">
    <%= output_comment(comment.content) %>
  </div>
<% end %>

