<div class="comment clearfix">
   <div class="avatar">
     <%= link_to  profile_path(c.user.name) do %>
       <img src=<%= c.user.avatar %> alt="" class="image-circle">
     <% end %>
   </div>
   <div class="body">
     <div class="heading">
        <h5 class="name"><%= link_to c.user.name, profile_path(c.user.name) %></h5>
        <span class="datetime">
          <%= time_ago_in_words c.created_at %>前
        </span>
     </div>
     <%= c.content %>
   </div>
</div>

