<%= div_for editable_comment do %>
  <div id="ep_comment_<%= editable_comment.id %>" class="comment_head">
      <i class="fa fa-comment"></i>
      <%= link_to editable_comment.user.name, editable_comment.user%>
       说
      <span class="comment_time">
          <%= time_ago_in_words editable_comment.created_at  %>前
      </span>
    </div> <%# class="comment_head" %>
    <div class="comment_body">
      <% if current_user.try(:id) == editable_comment.user.id %>
        <ul class="actions">
          <li><%= link_to t("edit"), edit_comment_path(editable_comment), :remote => true%></li>
          <li><%= link_to t("delete"), editable_comment, :confirm => "Are you sure you want to delete this comment?", :remote => true, :method => :delete%></li>
        </ul>
      <% end %>
      <%= output_comment(editable_comment.content) %>
    </div>
<% end %>
