<div class="comment-form">
  <%= form_for(Comment.new(:episode_id => @episode.id, :user_id => current_user.id)) do |f| %>
    <%= f.hidden_field :episode_id %>
    <%= f.hidden_field :user_id  %>
    <div class="write-comment-area">
      <%= f.text_area :content %>
    </div>
    <%= f.submit "发表", :class=>"button", :id => "comment_btn", :disable_with => "稍等..." %>
  <% end %>
</div>
