<%= div_for @comment, :class => "edit_comment_form" do %>
  <div class="comment_head">
    <i class="icon-comment"></i>
    <%= link_to @comment.user.name, @comment.user%>
      说
    <span class="comment_time">
        <%= time_ago_in_words @comment.created_at  %>前
    </span>
  </div> 

 <%= form_for @comment, :remote => true do |f| %>
  <%= f.error_messages %>
  <%= f.text_area :content %>
  <%= f.submit t("update_comment"), :class=>"btn", :id => "comment_btn" %>
 <% end %>
<% end %>

