<article class="comment clearfix">
  <div class="avatar">
    <%= link_to profile_path(current_user.name) do %>
      <img src=<%= current_user.avatar %> alt="" class="image-circle">
    <% end %>
  </div>
  <div class="body">
    <%= form_for(Comment.new(:episode_id => episode.id, :user_id => current_user.id)) do |f| %>
      <%= f.hidden_field :episode_id %>
      <%= f.hidden_field :user_id  %>
      <%= f.text_area :content %>
      <%= f.submit '提交', class: 'btn btn-primary btn-submit' %>
    <% end %>
  </div>
</article>
