<article class="comment clearfix">
  <div class="avatar">
    <%= link_to profile_path(current_user.name) do %>
      <img src=<%= current_user.avatar %> alt="" class="image-circle">
    <% end %>
  </div>
  <div class="body">
    <%= form_for(Comment.new(:commentable_id => commentable.id, :commentable_type => "#{commentable.class.name}", :user_id => current_user.id), remote: true) do |f| %>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <%= f.hidden_field :user_id  %>
      <%= f.text_area :content %>
      <%= f.submit '提交', class: 'btn btn-primary btn-submit' %>
    <% end %>
  </div>
</article>
