<div class="heading">
  <div class="container">
    好多论坛
  </div>
</div>
<div class="issue-list">
  <div class="issue-action">
    <a class="check-cards" href="http://c.haoduoshipin.com/guaishou/">先看卡片</a>
     <i class="fa fa-arrow-right"></i>
    后提问
    <% if current_user %>
      <a href="q/new" class="new-q-btn">
        <i class="fa fa-pencil"></i>
      </a>
    <% else %>
      <a href="/login" class="new-q-btn">
        <i class="fa fa-pencil"></i>
      </a>
    <% end %>
  </div>

  <div class="issue-state">
    <div class="open <%= 'active' if params[:state] == nil || params[:state] == 'open' %>">
      <%= link_to issues_path(:state => "open"), class: "md-btn md-btn-primary md-btn-raised" do %>
        <i class="fa fa-circle"> <%= @open_count %> Open</i>
      <% end %>
    </div>
    <div class="closed <%= 'active' if params[:state] == 'closed' %>">
      <%= link_to issues_path(:state => "closed"), class: "md-btn md-btn-danger md-btn-raised" do %>
        <i class="fa fa-check"> <%= @closed_count %> Closed</i>
      <% end %>
    </div>
  </div>

  <% @issues.each do |i| %>
    <article class="issue clearfix">
      <div class="state-light <%= 'red' if i.closed? %>"></div>
      <div class="body">
        <div class="title">
          <%= link_to i.title, "q/#{i.id}" %>
        </div>
        <div class="meta-data">
          <%= i.user.name %> <%= i.comments.count %>评论
        </div>
      </div>
      <div class="time">
        <%= time_ago_in_words(i.created_at) %>前
      </div>
    </article>
  <% end %>
</div>
