<div class="profile-edit-container clearfix">
  <div class="signup-form">
    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="form-errorred">
            填写的信息有误
          </div>
        <% end %>
        <dl class="form">
          <dt><%= f.label :name, "用户名" %></dt>
          <dd><%= f.text_field :name %></dd>
          <% if @user.errors[:name].any? %>
            <dd class="error"><%= @user.errors[:name][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt>
            在个人页面显示邮件？ <%= f.check_box(:show_email) %>
            订阅 happycasts 邮件？ <%= f.check_box(:email_subscription) %>
          </dt>
          <dt><%= f.label :email, "邮箱" %></dt>
          <dd><%= f.text_field :email %></dd>
          <% if @user.errors[:email].any? %>
            <dd class="error"><%= @user.errors[:email][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt><%= f.label :password, "密码" %></dt>
          <dd><%= f.password_field :password %></dd>
          <% if @user.errors[:password].any? %>
            <dd class="error"><%= @user.errors[:password][0] %></dd>
          <% end %>
        </dl>
        <p><%= f.submit "提交", :class => "profile-edit-button btn btn-primary" %></p>
    <% end %>
  </div>
</div>

