<%# title "Edit Profile" %>

<div class="content">
<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label t("name") %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t("email") %>
    <%= f.text_field :email %>
  </p>
  <p><%= f.submit t("update_profile"), :class => "btn btn-success" %></p>
<% end %>
</div>
