<div id="user_no">
  总共有<%= @users.count %>个用户
</div>

<table>
  <tr>
     <th>姓名</th>
     <th>评论</th>
     <th>注册日期</th>
  </tr>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag avatar_url(user), :alt => "Your Image", :size => "23x23"%>
          <%= link_to user.name, user %>
        </td>
        <td><%= user.comments.count %></td>
        <td><%= render_user_register_time(user) %></td>
      </tr>
    <% end %>
  <% else %>
    <p>No user found</p>
  <% end %>
</table>

<div class="pg_user">
  <%= will_paginate @users, previous_label: h("<< Previous"), next_label: h("Next >>") %>
</div>
