<div id="user_no">
  总共有<%= @users.count %>个用户
</div>

<table>
  <tr>
     <th>姓名</th>
     <th>评论</th>
     <th>注册日期</th>
  </tr>
<% if @users != nil %>
  <% @users.each do |user| %>
  <p>
    <tr>
      <td>
          <a href="http://gravatar.com">
            <%= image_tag avatar_url(user),:alt => "Your Image", :size => "23x23"%>
          </a>
          <%= link_to user.name, user %>
      </td>
      <td>
        <%= user.comments.count %>
      </td>
      <td>
        <%= render_user_register_time(user) %>
      </td>
     </tr>
  </p>
  <% end %>
<% else %>
  <p>
  No user found
  </p>
<% end %>
</table>

<div class="pg_user">
  <%= will_paginate @users, previous_label: h("<< Previous"), next_label: h("Next >>") %>
</div>
