<div class="row-fluid">
  <div class="span6">
    <h1 class="login">Login</h2>  
    <%= form_tag "/user_login" do %>  
      <p>  
        <%= label_tag :name %>
        <%= text_field_tag :name, params[:name] %>  
      </p>  
      <p>  
        <%= label_tag :password %>
        <%= password_field_tag :password %>  
      </p>  

      <p class="button"><%= submit_tag("login", :class=> "btn btn-info") %></p>  
    <% end %>  
    You can also log in with your
    <%= link_to image_tag("icons/github.png", :size => "60x20", :alt => "github"), "/auth/github" %> account
  </div>
  <div class="span6">
    <div id="signup_form">
      <h1 class="signup">Or create your account</h1>  
        
      <%= simple_form_for @user do |f| %>  
          <%= f.input :name, :required => false, :label => "User Name"%>
          <%= f.input :password, :required => false %>
          <%= f.input :password_confirmation %>
          <%= f.input :email, :required => false %>
          <%= f.button :submit, :class => "btn btn-info" %>
      <% end %>  
          
    </div> 
  </div>
</div>



