<div class="single-form-container clearfix">
  <h3>使用第三方账号登陆：
    <ul class="third-party-login">
      <li>
        <%= link_to "/auth/github", :class => "github" do %>
        <i class="fa fa-github-alt fa-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/google", :class => "google" do %>
        <i class="fa fa-google-plus fa-2x"></i>
        <% end %>
      </li>
    </ul>
  </h3>

  <div class="login-form">
    <%= form_tag "/user_login" do %>
      <dl class="form">
        <dt>用户名</dt>
        <dd><%= text_field_tag :name, params[:name] %></dd>
      </dl>
      <dl class="form">
        <dt>密码</dt>
        <dd><%= password_field_tag :password, params[:password] %></dd>
      </dl>
      <div class="tip">
        <%= link_to "忘记密码？", new_password_reset_path %>
        <%= link_to t("signup"), signup_path, :class => "action" %>
      </div>
      <p><%= submit_tag "提交", :class => "profile-edit-button btn btn-primary" %></p>
    <% end %>
  </div>
</div>
