<ul class="third_party_login">
  <li><%= link_to t("login_with_github"), "/auth/github", :id => "github_login" %></li>
  <li><%= link_to t("login_with_google"), "/auth/google", :id => "google_login" %></li>
</ul>

<div id="huo">或</div>

<div id="login" class="login_form">
  <h1>
    <%= t("login_with_local_account") %>
    <%= link_to t("please_signup"), signup_path %>
  </h1>
  <div class="form_body">
    <% flash.each do |name, msg| %>
      <div class="error_box">
        <%= msg %>
      </div>
    <% end %>
    <%= form_tag "/user_login" do %>
      <div class="input-prepend">
        <div id="username">用户名</div>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div class="input-prepend">
        <div id="password">
          密码
          <%= link_to "forgotten password?", new_password_reset_path %>
        </div>
        <%= password_field_tag :password,params[:password] %>
      </div>
      <div class="login_btn"><%= submit_tag(t("login"), :class => "button") %></div>
    <% end %>
  </div>
</div>
