<div id="login-form-area">
  <div class="form-heading">
    <ul class="third-party-login">
      <li>
        <%= link_to "/auth/github", :class => "github button" do %>
          <i class="fa fa-github-alt fa-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/google", :class => "google button" do %>
          <i class="fa fa-google-plus fa-2x"></i>
        <% end %>
      </li>
    </ul>

    <div class="division">
      <div class="huo">或</div>
    </div>
  </div>

  <div class="login_form">
    <%= form_tag "/user_login" do %>

    <div class="form-body">
      <div class="form">
        <label id="username">用户名</label>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div class="form">
        <label id="password">密码</label>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div class="tip">
        <%= link_to "忘记密码？", new_password_reset_path %>
        <%= link_to t("signup"), signup_path, :class => "action" %>
      </div>
    </div>

    <div class="form-footer">
      <%= submit_tag(t("login"), :class => "login-btn button") %>
    </div>
    <% end %>
  </div>
</div>
