<div class="content" id="login">
<h1>Login</h1>  
  <%= form_tag users_path do %>  
    <p>  
      <%= label_tag :name %><br />  
      <%= text_field_tag :name, params[:name] %>  
    </p>  
    <p>  
      <%= label_tag :password %><br />  
      <%= password_field_tag :password %>  
    </p>  

    <p class="button"><%= submit_tag("login") %></p>  
  <% end %>  

  Log in with 
  <%= link_to image_tag("icons/github.png", :size => "60x20", :alt => "github"), "/auth/github" %>
</div>

<div class="content" id="signup">
  <h1>Create Account</h1>  
  <%= form_for @user do |f| %>  
    <% if @user.errors.any? %>  
      <div class="error_messages">  
        <h2>Form is invalid</h2>  
        <ul>  
          <% for message in @user.errors.full_messages %>  
            <li><%= message %></li>  
          <% end %>  
        </ul>  
      </div>  
    <% end %>  
    <p>  
      <%= f.label :name %><br />  
      <%= f.text_field :name %>  
    </p>  
    <p>  
      <%= f.label :password %><br />  
      <%= f.password_field :password %>  
    </p>  
    <p>  
      <%= f.label :password_confirmation %><br />  
      <%= f.password_field :password_confirmation %>  
    </p>  
    <p>  
      <%= f.label :email %><br />  
      <%= f.text_field :email %>  
    </p>  
    <p class="button"><%= f.submit("create account") %></p>  
  <% end %>  
</div>
