<% title "#{@user.name}'s Profile" %>

<div class="banner-profile clearfix">
  <div class="container clearfix">
    <div class="avatar">
      <a href="http://gravatar.com">
        <%= image_tag @user.avatar %>
      </a>
    </div>
    <ul class="banner-links">
      <% if @user.email && @user.show_email %>
        <li><%= @user.email %></li>
      <% end %>
      <li>China</li>
    </ul>
  </div>
</div>

<div class="profile-stats">
  <div class="container clearfix">
    <h2 class="name">
      <%= @user.name %>
      <% if current_user && current_user == @user %>
        <%= link_to "编辑", account_path, class: "btn btn-primary" %>
        <%= link_to "Stars", "javascript:;", class: "label", :data => { title: "episodes" } %>
        <%= link_to "Comments", "javascript:;", class: "label active", :data => { title: "comments" } %>
      <% end %>
      <% if current_user && current_user.admin? && current_user == @user %>
        <%= link_to "创建视频", new_episode_path, class: "btn btn-primary" %>
        <div class="mail-btn-wrapper">
          <button class="mail-btn">
            <i class="fa fa-envelope-o"></i>
          </button>
        </div>
        <%= form_tag("/new_ep_release_mail", class: "eid-form") do %>
          <%= text_field_tag :eid, "", placeholder: "视频序号", autocomplete: "off" %>
        <% end %>
      <% end %>
    </h2>
  </div>
</div>

<div class="profile-comments">
  <div class="container">
    <% if @user.comments.blank? %>
      "暂无评论"
    <% else %>
      <% @user.comments.reverse.each do |comment| %>
        <div class="comment-wraper">
          <%= render "comments/comment", comment: comment %>
          <div class="comment-ep-number">
            <% if comment.commentable.class.name == "Episode" %>
              视频
            <% else %>
              讨论
            <% end %>
            <%= link_to comment.commentable_id, comment.commentable %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="profile-episodes">
  <div class="container">
    <% if @user.hearted_episodes.blank? %>
      "暂无视频"
    <% else %>
      <% @user.hearted_episodes.each_slice(3).to_a.each do |g| %>
        <div class="ep-row clearfix">
          <% g.each do |e| %>
            <%= render partial: "episodes/ep_card", locals: { episode: e }%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
