<% title "#{@user.name}'s Profile" %>

<div id="user_show">
  <div class="row-fluid profile">
  <div class="span2">
    <a href="http://gravatar.com">
      <%= image_tag avatar_url(@user),:alt => "Your Image", :size => "120x120"%>
    </a>
  </div>

  <div class="span7 main_info">
    <div id="user_name">
      <%= @user.name %>
    </div>
    <div id="user_email">
      <%= @user.email %>
   </div>
  </div>
  <div class="span3 edit_profile_btn">
    <% if current_user.name == @user.name %>
      <div id="admin_zone">
        <% if can? :edit, :users %>  
          <%= link_to "Edit Your Profile", edit_user_path, :class => "btn" %>
        <% end %>
        <% if can? :create, :episodes %>
          <div class="actions"><%= link_to t('new_ep'), new_episode_path, :class => "btn" %></div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>

  <h2 class="comments">Comments:</h2>
  <% if @user.comments.nil? %>
    <%= render @user.comments.reverse %>
  <% else %>
    No Comments Yet.
  <% end %>
</div><!-- user_show -->

