<div id="signup_form_area">
  <h2>
    <%= t("create_your_account") %>
  </h2>
  <div id="signup_form">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p class="form">
        <%= f.label :name, "用户名" %>
        <%= f.text_field :name %>
        <span>(不能包含空格)</span>
      </p>
      <p class="form">
        <%= f.label :email, "邮箱" %>
        <%= f.text_field :email %>
      </p>
      <p class="form">
        <%= f.label :password, "密码" %>
        <%= f.password_field :password %>
      </p>
      <p class="form">
        <%= f.label :password_confirmation, "确认密码" %>
        <%= f.password_field :password_confirmation %>
      </p>
      <%= submit_tag t("create_account"), :class => "create_account_btn" %>
    <% end %>
  </div>
</div>

<%= content_for :template_js do %>
  <%= javascript_include_tag "signup" %>
<% end %>
