<div id="signup_form_area">
  <h1>
    <%= t("create_your_account") %>
  </h1>
  <div id="signup_form">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <label for="user_name">用户名(不允许有空格)</label> <br>
      <input id="user_name" name="user[name]" size="50" type="text" />

      <br>
      <label for="user_password">密码</label><br>
      <input id="user_password" name="user[password]" size="50" type="password" />

      <br>
      <label for="user_password_confirmation">再输入一次</label><br>
      <input id="user_password_confirmation" size="50" type="password" />
      <br>
      <label for="user_email">Email</label><br>
      <input id="user_email" name="user[email]" size="50" type="text" />
      <br>
      <%= submit_tag(t("create_account"), :id => "create_account_btn", :class => "btn btn-success") %>
    <% end %>  
  </div> 
</div>

<%= content_for :template_js do %>
  <%= javascript_include_tag "signup" %>
<% end %>
