<div class="single-form-container clearfix">
  <h3>使用第三方账号登陆：
    <ul class="third-party-login">
      <li>
        <%= link_to "/auth/github", :class => "github" do %>
        <i class="fa fa-github-alt fa-2x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/google", :class => "google" do %>
        <i class="fa fa-google-plus fa-2x"></i>
        <% end %>
      </li>
    </ul>
  </h3>

  <div class="signup-form">
    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="form-errors">
            填写的信息有误
          </div>
        <% end %>
        <dl class="form">
          <dt><%= f.label :name, "用户名" %></dt>
          <dd><%= f.text_field :name %></dd>
          <% if @user.errors[:name].any? %>
            <dd class="error"><%= @user.errors[:name][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt><%= f.label :email, "邮箱" %></dt>
          <dd><%= f.text_field :email %></dd>
          <% if @user.errors[:email].any? %>
            <dd class="error"><%= @user.errors[:email][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt><%= f.label :show_email, "公开邮箱" %></dt>
          <dd><%= f.check_box :show_email %></dd>
        </dl>
        <dl class="form">
          <dt><%= f.label :password, "密码" %></dt>
          <dd><%= f.password_field :password %></dd>
          <% if @user.errors[:password].any? %>
            <dd class="error"><%= @user.errors[:password][0] %></dd>
          <% end %>
        </dl>
        <dl class="form">
          <dt><%= f.label :password_confirmation, "请再输入一次" %></dt>
          <dd><%= f.password_field :password_confirmation %></dd>
        </dl>
        <p><%= f.submit "提交", :class => "profile-edit-button btn btn-primary" %></p>
    <% end %>
  </div>
</div>

