<div id="signup_form_area">
  <div class="form-heading">
    <%= image_tag "puppy.png"  %>
    <%= t("create_your_account") %>
  </div>
  <div id="signup_form">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-body">
        <div class="form">
          <%= f.label :name, "用户名" %>
          <%= f.text_field :name, :placeholder => "不包含空格"%>
        </div>
        <div class="form">
          <%= f.label :email, "邮箱" %>
          <%= f.text_field :email %>
        </div>
        <div class="form">
          <%= f.label :password, "密码" %>
          <%= f.password_field :password %>
        </div>
        <div class="form">
          <%= f.label :password_confirmation, "确认密码" %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div class="form-footer">
        <%= submit_tag t("create_account"), :class => "create_account_btn button" %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :template_js do %>
  <%= javascript_include_tag "signup" %>
<% end %>
