<div class="header">
  <div class="container">
    <%= link_to "Happycasts", root_path, class: "brand" %>

    <div class="header-actions">
      <% if current_user %>
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to  t("logout"), logout_path%></li>
      <% else %>
        <li>
          <%= link_to t("login"), login_path(:return_to => request.url) %>
        </li>
        <li><%= link_to t("signup"), signup_path(:return_to => request.url) %></li>
      <% end %>
    </div>
  </div>
</div>

