<div class="search-form">
  <div class="container">
    <form action="/search" autocomplete="off">
    <input type='text' id='ts-search-input' name="q" placeholder="Search for a episode...">
    </form>
  </div>
</div>
<div class="header">
  <div class="container clearfix">
    <%= link_to root_path, class: "brand" do %>
      <span class="happy">Happy<span><b>casts</b>
    <% end %>
    <div class="header-actions">
      <div class="left">
        <li><%= link_to "最新视频", "/latest" %></li>
      </div>
      <div class="right">
        <% if current_user %>
          <li><%= link_to current_user.name, profile_path(current_user.name) %></li>
          <li><%= link_to  "退出", logout_path%></li>
        <% else %>
          <li>
            <%= link_to "登录", login_path %>
          </li>
          <li><%= link_to "注册", signup_path %></li>
        <% end %>
        <li>
          <button class="search-btn">
            <i class="fa fa-search"></i>
          </button>
        </li>
      </div>
    </div>
  </div>
</div>

