<div class="player-wrap">
  <div class="container">
    <div class="ep-meta clearfix">
      <ul>
        <% title = episode.id.to_s + '期 ' + episode.name + ' ' + episode.description %>
        <% image_url = "http://media.happycasts.net/assets/episodes/stills/#{episode.asset_name}.png" %>
        <% allowed_sites = ["weibo"] %>
        <li><%= social_share_button_tag title, { :image => image_url }, allowed_sites %></li>
        <li><%= link_to "下载", video_url(episode), :class => "download" %></li>
      </ul>
    </div>

    <video class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
      width="990" height="<%= (990 / episode.ratio).to_i %>" data-setup="{}">
      <source src="<%= video_url episode %>" type='video/mp4'>
    </video>

    <div class="ep-info">
      <div class="container">
        <% if current_user.blank? || episode.hearts.include?(current_user) %>
          <%= link_to "javascript:;", class: "ep-hearts" do %>
            <i class="fa fa-heart-o"></i>
            <b><%= episode.hearts.count %></b> 人赞
          <% end %>
        <% else %>
          <%= link_to "javascript:;", class: "ep-hearts heart-btn", :data => { url: add_episode_heart_path } do %>
            <i class="fa fa-heart-o"></i>
            <b><%= episode.hearts.count %></b> 人赞
          <% end %>
        <% end %>
        <h1 class="name">
          <%= episode.name %>
          <span class="date"><%= render_episode_publish_time(episode) %></span>
        </h1>
        <p><%= episode.description %></p>
        <ul class="ep-tags">
          <% episode.tags.each do |t| %>
            <li><%= link_to t.name, tag_path(t.name) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
