<div class="show-header"></div>

<div class="big-card-wrapper">
  <div class="big-card">
    <h3 class="title">
      <%= episode.title %>
    </h3>
    <%= image_tag("http://media.haoduoshipin.com/stills/#{episode.asset_name}.png", :class => "poster") %>
    <div class="description"><%= episode.description %></div>

    <% if @episode.baidu.blank? %>
      <%= link_to "播放", "?autoplay=true" , :class => "play-btn" %>
    <% else %>
      <%= link_to "到百度云盘下载", @episode.baidu, target: "_blank", class: "play-btn btn" %>
    <% end %>
  </div>
</div>
