<div class="show-header"></div>

<div class="big-big-card-wrapper">
  <div class="big-big-card clearfix">
    <%= image_tag("http://media.haoduoshipin.com/stills/#{episode.asset_name}.jpg", :class => "poster") %>
    <div class="detail">
      <h3 class="title"><%= episode.title %></h3>
      <p class="desc"><%= episode.description %></p>
      <% if @episode.baidu.blank? %>
        <%= link_to "播放", "?autoplay=true" , :class => "play-btn" %>
      <% else %>
        <%= link_to "到百度云盘下载", @episode.baidu, target: "_blank", class: "play-btn btn" %>
      <% end %>
    </div>
  </div>
</div>
