<%= link_to episode do %>
<div class="ep_card">
<div class="screenshot">
    <% elsif @episode.id > 162 %>
      <%= image_tag("http://media.haoduoshipin.com/stills/#{episode.asset_name}.jpg") %>
    <% else %>
      <%= image_tag("http://media.haoduoshipin.com/stills/#{episode.asset_name}.png") %>
    <% end %>

  </div>
  <h2 class="name">
    <%= episode.name %>
    <% if episode.revision.present? %>
    <span class="label"><%= episode.revision %></span>
    <% end %>
  </h2>
  <div class="metadata">
    第<%= episode.id %>期
    <span class="date"> | <%= render_episode_publish_time(episode).chop %> </span>
  </div>
</div>
<% end %>
