<%= link_to(episode_path(episode, :autoplay => true)) do %>
  <div class="ep_card">
    <% if !episode.seconds.nil? %>
      <% @mins = (episode.seconds/60).round.to_s + "分钟" %>
    <% else %>
      <% @mins = "unknown length" %>
    <% end %>
    <div class="ep_main">
      <div class="screenshot">
        <%= image_tag("http://media.happycasts.net/assets/episodes/stills/#{episode.asset_name}.png") %>
      </div>
      <h2 class="ep_name"><%= episode.name %></h2>
      <div class="content">(<%= @mins %>) <%= episode.description %> </div>
      <div class="metadata">
        第<%= episode.id %>期
        <span class="date"> | <%= render_episode_publish_time(episode).gsub(/[年月日]/, '-').chop %> | </span>
        <span class="comments"> <%= (episode.comments.size.to_s + "评论") %> </span>
      </div>
    </div>
  </div>
<% end %>
