<div class="episode">
  <div class="screenshot">
    <%= link_to image_tag("http://media.happypeter.org/happycasts/episodes/stills/#{episode.position}-#{episode.name}.png", :class => "screenshot", :size => "200x125", :alt => episode.name), episode %>
  </div>
  <div class="main">
    <div class="info">
      <span class="number">Episode #<%= episode.position %></span> &ndash;
      <span class="published_at"><%= episode.published_at.strftime('%b %d, %Y') %></span>
    </div>
    <h2><%= link_to episode.name, episode %></h2>
    <div class="description"><%= episode.description %></div>
    <div class="watch">
      <%= link_to "Watch Episode", episode_path(episode, :autoplay => true), :class => "watch_button" %>
      <span class="stats">(<%= pluralize (episode.seconds/60).round, "minute" %>)</span>
    </div>
  </div>
  <div class="clear"></div>
</div>
