<div class="episode">
    <%= link_to image_tag("http://media.happycasts.net/assets/episodes/stills/#{episode.asset_name}.png", :class => "episode_snapshot",  :alt => episode.name), episode %>
  <div class="episode_intro">
    <div class="episode_intro_title">
      Episode #<%= episode.position %>
      <%= episode.published_at.strftime('%b %d, %Y') %>
      - <%= link_to pluralize(episode.comments.size, "comment"), episode_path(episode, :view => "comments") %>
    </div>
    <h2><%= link_to episode.name, episode %></h2>
    <%= episode.description %>
  </div>
  <div class="episode_watch_btn">
    <div class="row-fluid">
      <div class="span7">
        <%= link_to "Watch (#{pluralize (episode.seconds/60).round, "minute"})", episode.youku, :class => "btn btn-info" %>
      </div>
      <div class="span5">
        <!-- JiaThis Button BEGIN -->
        <div id="jiathis_style_32x32">
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_kaixin001"></a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
    </div>
    </div>
  </div>
</div>
