<div class="episode">
    <%= link_to image_tag("http://media.happycasts.net/assets/episodes/stills/#{episode.asset_name}.png", :class => "episode_snapshot",  :alt => episode.name), episode %>
  <div class="episode_intro">
    <div class="episode_intro_title">
      Episode #<%= episode.position %>
      <%= episode.published_at.strftime('%b %d, %Y') %>
      - <%= link_to pluralize(episode.comments.size, "comment"), episode_path(episode, :view => "comments") %>
    </div>
    <h2><%= link_to episode.name, episode %></h2>
    <%= episode.description %>
  </div>
  <div class="episode_watch_btn">
    <%= link_to "Watch (#{pluralize (episode.seconds/60).round, "minute"})", episode.youku, :class => "btn btn-info" %>
  </div>
</div>
