<div class="episode">
  <div class="episode_snapshot"> 
    <%= link_to image_tag("http://media.happycasts.net/assets/episodes/stills/#{episode.asset_name}.png",  :alt => episode.name), episode %>
  </div>
  <div class="episode_intro">
    <div class="episode_intro_title">
      <% if !episode.seconds.nil? %>
        <% @mins = (episode.seconds/60).round.to_s + "分钟" %>
      <% else %>
        <% @mins = "unknown length" %>
      <% end %>
       <%= episode.id %>期
       <%= render_episode_publish_time(episode) %>
      - <%= (episode.comments.size.to_s + "评论") %>
    </div>
    <h2><%= link_to episode.name, episode %></h2>
    <%= episode.description %> （<%= @mins %>）
  </div>
    <div class="episode_watch_btn">
      <%= link_to t("play"), episode_path(episode, :autoplay => true), :class => "btn btn-info"%>
    </div>
    <div class="clear"></div>
</div>

