<div class="content">
  <%= form_for @episode do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :position %>
      <%= f.text_field :position %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>
    <div class="actions"><%= f.submit %></div>
  <% end %>
</div>
