<div class="large show-header">
  <h1 class="title"><%= @episode.title %></h1>
</div>

<div class="large-card-wrapper">
  <div class="large-card clearfix">
    <%= image_tag("http://media.haoduoshipin.com/stills/#{episode.asset_name}.jpg", :class => "poster") %>
    <div class="detail">
      <p class="desc"><%= episode.description %></p>
      <% if @episode.baidu.blank? %>
        <%= link_to "播放", "?autoplay=true" , :class => "play-btn" %>
      <% else %>
        <%= link_to @episode.baidu, target: "_blank", class: "play-btn btn" do %>
          <i class="fa fa-cloud-download"></i>
          到百度云盘下载
        <% end %>
      <% end %>
    </div>
  </div>
</div>
