<div class="large show-header">
  <h1 class="title">Gulp+Sass+Jekyll+Browsersync 搭建起来的前端开发环境</h1>
</div>

<div class="large-card-wrapper">
  <div class="large-card clearfix">
    <%#= image_tag("http://media.haoduoshipin.com/stills/#{episode.asset_name}.jpg", :class => "poster") %>
    <%= image_tag("http://media.haoduoshipin.com/stills/163-gulp-jekyll.jpg", :class => "poster") %>
    <div class="detail">
      <p class="desc"><%= episode.description %></p>
      <% if @episode.baidu.blank? %>
        <%= link_to "播放", "?autoplay=true" , :class => "play-btn" %>
      <% else %>
        <%= link_to "到百度云盘下载", @episode.baidu, target: "_blank", class: "play-btn btn" %>
      <% end %>
    </div>
  </div>
</div>

<div class="large-card-tags">
  <ul class="large-tag-list">
    <% @episode.tags.each do |t| %>
      <li><%= link_to t.name, tag_path(t.name) %></li>
    <% end %>
  </ul>
</div>
