<% content_for :head, auto_discovery_link_tag(:rss, episodes_url(format: "rss")) %>

<div class="main clearfix">
  <div class="content">
    <% if @episodes.empty? %>
      <p class="search_nil notice">Sorry, no matching episodes!</p>
    <% else %>
      <% if !@count.blank? %>
       <p class="search_count notice">Found <%= pluralize(@count, 'episode') %></p>
      <% end %>
      <% for episode in @episodes %>
        <%= render partial: 'episode_card', locals: {episode: episode} %>
      <% end %>
    <% end %>
  </div>
  <div class="sidebar">
    <div id="subscribe">
      <ul class="horizontal clearfix">
        <li>
          <%= link_to episodes_url(:format => "rss") do %>
            <i class="fa fa-rss fa-lg"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "//weibo.com/happycasts" do %>
            <i class="fa fa-weibo fa-lg"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="categories">
      <div class="categories_title">
        <%= t "cat" %>
      </div>
      <% token = params[:tag_id] == nil %>
      <div class="category <%= "nolink" if token %>">
        <%= link_to_unless token, "ALL" %>
      </div>
      <% for tag in Tag.order("name") %>
        <% flag = params[:tag_id].to_i == tag.id %>
        <div class="category <%= "nolink" if flag %>">
          <%= link_to_unless flag, tag.display_name,
          params.merge(:tag_id => tag.id, :page => nil, :search => nil) %>
        </div>
      <% end %>
    </div>
    <div class="recent-comments">
      <p class="title">
        <i class="fa fa-comment"></i>
        <abbr class="timeago"></abbr>
      </p>
      <span class="latest-comment"></span>
    </div>
    <div class="check-all">
      <%= link_to t("all_comments"), comments_path %>
    </div>
  </div>
</div>

<%= will_paginate @episodes, previous_label: h("< Previous Page"), next_label: h("Next Page >") %>

<% if current_user.blank? %>
  <div class="ep_login">
    <div class="note">
      各位看官，<%= link_to "注册 Happycasts 帐号", signup_path %>，
      可以收到视频更新邮件提醒哦！
    </div>
    <ul class="third_party_login">
      <li>
        <%= link_to "/auth/github", :class => "github button" do %>
          <i class="fa fa-github-square fa-lg"> <%= t "login_with_github" %></i>
        <% end %>
      </li>
      <li>
        <%= link_to "/auth/google", :class => "google button" do %>
          <i class="fa fa-google-plus-square fa-lg"> <%= t "login_with_google" %></i>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :template_js do %>
  <script>
    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    param = getParameterByName("search");
    if (param != "") {
      str = "<span> </span>".replace(" ", param);
      $(".episode_intro").each(function() {
           newtext = $(this).html().replace(param, str);
           $(this).html(newtext).find("span").css("color", "red");
      });
    }
  </script>
<% end %>
