<% content_for :head, auto_discovery_link_tag(:rss, episodes_url(format: "rss")) %>


<div class="row-fluid">
  <div class="span10">
      <% for episode in @episodes %>
        <%= render episode %>
      <% end %>
  </div>
  <div class="span2">
    <div id="rss-tag"> 
      <%= link_to image_tag("feed-icon-28x28.png"), episodes_url(format: "rss"), :id =>"rss" %>
    </div>
    <div class="categories">
      <div class="categories_title">
        <%= t("cat") %>
      </div>
      <div class="category">
        <%= link_to_unless(params[:tag_id] == nil, "ALL") %>
      </div>
      <% for tag in Tag.order("name") %>
      <div class="category">
        <%= link_to_unless(params[:tag_id].to_i == tag.id, tag.display_name, params.merge(:tag_id => tag.id, :page => nil)) %>
      </div>
      <% end %>
    </div>
    <%= link_to t("recent_comments"), comments_path, :class => "recent-comments" %>
  </div>
</div>
<%= will_paginate @episodes, previous_label: h("< Previous Page"), next_label: h("Next Page >") %>
