<% title @episode.name, false %>

<% if @episode.baidu.blank? && params[:autoplay] == 'true' %>
  <%= render "shared/player", :episode => @episode %>
<% elsif @episode.id > 120 %>
  <%= render "large_card", :episode => @episode %>
<% else %>
  <%= render "big_card", :episode => @episode %>
<% end %>

<div class="large-card-tags">
  <ul class="large-tag-list">
    <% @episode.tags.each do |t| %>
      <li><%= link_to t.name, tag_path(t.name) %></li>
    <% end %>
  </ul>
</div>

<%= render partial: "shownote", locals: {episode: @episode} %>

<div class="comments container">
  <% @episode.comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {comment: comment} %>
  <% end %>
  <% if current_user %>
    <%= render partial: "comments/form", locals: {commentable: @episode} %>
  <% else %>
    <%= link_to "登录", login_path(:return_to => request.url) %>
  <% end %>
</div>
