<div id="episode">
  <div class="video">
    <video class="sublime" width="768" height="576" poster="http://media.happypeter.org/happycasts/episodes/stills/load.png" preload="none">
      <source src="http://media.happypeter.org/happycasts/episodes/videos/<%=@episode.position%>-<%= @episode.name %>.mov " />
    </video>
  </div>
  <div class="info">
    <h1>
      <span class="position">#<%= @episode.position %></span>
      <%= @episode.name %>
    </h1>
    <div class="details">
      <%= @episode.created_at.strftime('%b %d, %Y') %> 
      <span class="edit">
        <%= link_to "edit", edit_episode_path(@episode) %> 
      </span>
    </div>
    <div class="notes">
    <% if @episode.notes %>
     this is my show notes
      <%= markdown(@episode.notes) %>
    <% else %>
      no show notes
    <% end %>
    </div>
  </div>
</div>
