<% title @episode.name, false %>

<% if @episode.baidu.blank? && params[:autoplay] == 'true' %>
  <%= render "shared/player", :episode => @episode %>
<% elsif @episode.id > 120 %>
  <%= render "large_card", :episode => @episode %>
<% else %>
  <%= render "big_card", :episode => @episode %>
<% end %>

<div class="large-card-tags">
  <ul class="large-tag-list">
    <% @episode.tags.each do |t| %>
      <li><%= link_to t.name, tag_path(t.name) %></li>
    <% end %>
  </ul>
</div>

<% if @episode.revision.present? %>
  <div class="ep-notice-wrapper">
    <div class="ep-notice clearfix">
      <%= image_tag "puppy.png", class: "puppy" %>
      <div class="content">
        本视频已经过期，<%= link_to "请看改进版第#{@episode.revision}期", episode_path(@episode.revision) %>
      </div>
    </div>
  </div>
<% end %>

<ul class="ep-metadata-wrapper">
  <li>
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" fill-opacity=".9"/>
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" fill-opacity=".9"/>
    </svg>
    <h3>视频发布时间</h3>
    <p><%= I18n.l(@episode.published_at.to_date, :format => :long) %></p>
  </li>
  <li>
   <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
     <path d="M0 0h24v24H0z" fill="none"/>
     <path d="M11 17c0 .55.45 1 1 1s1-.45 1-1-.45-1-1-1-1 .45-1 1zm0-14v4h2V5.08c3.39.49 6 3.39 6 6.92 0 3.87-3.13 7-7 7s-7-3.13-7-7c0-1.68.59-3.22 1.58-4.42L12 13l1.41-1.41-6.8-6.8v.02C4.42 6.45 3 9.05 3 12c0 4.97 4.02 9 9 9 4.97 0 9-4.03 9-9s-4.03-9-9-9h-1zm7 9c0-.55-.45-1-1-1s-1 .45-1 1 .45 1 1 1 1-.45 1-1zM6 12c0 .55.45 1 1 1s1-.45 1-1-.45-1-1-1-1 .45-1 1z"/>
   </svg>
    <h3>文稿最近更新时间</h3>
    <p><%= I18n.l(@episode.updated_at.to_date, :format => :long) %></p>
  </li>
  <li>
    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86L22 5.72zM7.88 3.39L6.6 1.86 2 5.71l1.29 1.53 4.59-3.85zM12.5 8H11v6l4.75 2.85.75-1.23-4-2.37V8zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
    </svg>
    <h3>是更早视频的改进版吗？</h3>
    <% if @old_episode.present? %>
      <p><%= link_to "是第#{@old_episode.id}期的改进版", episode_path(@old_episode.id) %></p>
    <% else %>
      <p>不是</p>
    <% end %>
  </li>
</ul>

<%= render partial: "shownote", locals: {episode: @episode} %>

<div class="comments container">
  <% @episode.comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {comment: comment} %>
  <% end %>
  <% if current_user %>
    <%= render partial: "comments/form", locals: {commentable: @episode} %>
  <% else %>
    <%= link_to "登录", login_path(:return_to => request.url) %>
  <% end %>
</div>
