<% title @episode.name, false %>
<div id="episode">
  <div class="info">
    <div class="screenshot">
      <%= image_tag("http://media.happypeter.org/happycasts/episodes/stills/#{@episode.asset_name}.png", :size => "200x125", :alt => @episode.name) %>
    </div>
    <h1>
      <span class="position">#<%= @episode.position %></span>
      <%= @episode.name %>
    </h1>
    <div class="details">
      <%= @episode.published_at.strftime('%b %d, %Y') %> |
      <%= pluralize (@episode.seconds/60).round, "minute" %> |
      <%= link_to pluralize(@episode.comments.size, "comment"), episode_path(@episode, :view => "comments") %>
    </div>
    <div class="description"><%= @episode.description %></div>
    <div class="watch">
        <div class="watch">
           <a href=<%= @episode.youku %> class="play_video watch_button">
             Youku &#9654;
           </a>    
        </div>
    </div>
    <ul class="downloads horizontal">
      <li>Download:</li>
      <% for file in @episode.available_files %>
        <li>
          <%= link_to file[:name], file[:url] %>
          <span class="overlay"><%= file[:info] %> (<%= number_to_human_size(file[:size]) %>)</span>
        </li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
  <ul class="nav horizontal">
    <li class="selected"><%= tab_link "Show Notes", :view => nil %></li>
    <li><%= tab_link pluralize(@episode.comments.size, "Comment"), :view => "comments" %></li>
  </ul>
  <div class="nav_section">
    <%= %w[comments].include?(params[:view]) ? render(params[:view]) : render("show_notes") %>
  </div>
</div>
