<div id="episode">
  <% if params[:autoplay] %>
    <div id="video_wrapper"><%= episode_video_tag @episode %></div>
  <% else %>
    <script type="text/html" id="video_template">
      <%= episode_video_tag @episode %>
    </script>
  <% end %>
  <div class="info">
    <h1>
      <span class="position">#<%= @episode.position %></span>
      <%= @episode.name %>
    </h1>
    <div class="details">
      <%= @episode.published_at.strftime('%b %d, %Y') %> 
      <span class="edit">
          <%= link_to "edit", edit_episode_path(@episode) if can? :update, @episode  %>
      </span>
    </div>
    <div class ="download">
      Download: <%= link_to "mov", "http://media.happypeter.org/happycasts/episodes/videos/#{@episode.position}-#{@episode.name}.mov" %>
    </div>
    <div class="notes">
      <% if @episode.notes %>
      <div class="head">
          Show Notes
      </div>
      <div class="body">
        <%= markdown(@episode.notes) %>
      </div>
      <% else %>
        no show notes
      <% end %>
    </div>
  </div>
</div>
