<% title @episode.name, false %>
<%= render "shared/player", :episode => @episode %>

<%= render partial: "shownote", locals: {episode: @episode} %>

<div class="comments container">
  <% @episode.comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {comment: comment} %>
  <% end %>
  <% if current_user %>
    <%= render partial: "comments/form", locals: {commentable: @episode} %>
  <% else %>
    <%= link_to "登录", login_path(:return_to => request.url) %>
  <% end %>
</div>
