<div id="episode">
  <% if params[:autoplay] %>
    <div id="video_wrapper"><%= episode_video_tag @episode %></div>
  <% else %>
    <script type="text/html" id="video_template">
      <%= episode_video_tag @episode %>
    </script>
  <% end %>
  <div class="info<%= " video_info" if params[:autoplay] %>">
    <div class="screenshot"><%= link_to image_tag("http://media.happypeter.org/happycasts/episodes/stills/#{@episode.asset_name}.png", :size => "200x125", :alt => @episode.name), {:autoplay => true}, :class => "play_video" %></div>
    <h1>
      <span class="position">#<%= @episode.position %></span>
      <%= @episode.name %>
    </h1>
    <div class="details">
      <%= @episode.published_at.strftime('%b %d, %Y') %> |
      <%= pluralize (@episode.seconds/60).round, "minute" %> |
    </div>
    <div class="description"><%= @episode.description %></div>
    <div class="watch">
      <%= link_to({:autoplay => true}, {:class => "play_video watch_button"}) do %>
        Click to Play Video &#9654;
      <% end %>
    </div>
    <ul class="downloads horizontal">
      <li>Download:</li>
      <% for file in @episode.available_files %>
        <li>
          <%= link_to file[:name], file[:url] %>
          <span class="overlay"><%= file[:info] %> (<%= number_to_human_size(file[:size]) %>)</span>
        </li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
    <div class ="download">
      Download: <%= link_to "mov", "http://media.happypeter.org/happycasts/episodes/videos/#{@episode.position}-#{@episode.name}.mov" %>
    </div>
    <div class="notes">
      <% if @episode.notes %>
      <div class="head">
          Show Notes
      </div>
      <div class="body">
        <%= markdown(@episode.notes) %>
      </div>
      <% else %>
        no show notes
      <% end %>
    </div>
  </div>
</div>
