<% title @episode.name, false %>

<% if params[:autoplay] %>
  <%= render "shared/player", :episode => @episode %>
<% else %>
  <%= render partial: 'episode_card', locals: {episode: @episode} %>
<% end %>

<div class="alternatives clearfix">
  <ul>
    <% if current_user && current_user.admin? %>
    <li>
      <%= link_to t("new_ep_release_mail"), "/new_ep_release_mail/#{@episode.id}", :method => :post %>
    </li>
    <% end %>
    <li><%= link_to t("download"), video_url(@episode), :class => "download" %></li>
  </ul>
</div>

<div id="ep_notes_label">
  <i class="fa fa-leaf fa-lg"></i>
  <%= t("shownotes") %>
</div>

<%= render "show_notes" %>

<div id="ep_comments_label">
  <i class="fa fa-bullhorn fa-lg"></i>
  <%= "#{@episode.comments.count.to_s + t("comment")}" %>
</div>

<div class="comment_view">
  <div class="comments">
    <% @episode.comments.each do |comment| %>
      <%= render :partial => "comments/editable_comment", :locals => {comment: comment} %>
    <% end %>
  </div>

  <% if current_user %>
    <div class="nice_comment">
      <%= form_for(Comment.new(:episode_id => @episode.id, :user_id => current_user.id), :remote => true) do |f| %>
        <%= f.hidden_field :episode_id %>
        <%= f.hidden_field :user_id  %>
        <%= f.label t("add_comment") %>
        <a class="formatting_tips" href="//github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
          <%= t("formatting") %>
        </a>
        <div class="error">
          <%= t("comment_empty_error") %>
        </div>
        <div class="write-comment-area">
          <%= f.text_area :content %>
        </div>
        <%= f.submit t("publish_comment"), :class=>"button", :id => "comment_btn", :disable_with => "sending..." %>
      <% end %>
    </div>
  <% else %>
    <div id="login-to-comment">
      <%= link_to t("login_and_comment"), login_path(:return_to => request.url) %>
    </div>
    <br>
  <% end %>
</div>

<%= render "comments/markdown_cheatsheet" %>
<% content_for :template_js do %>
  <%= javascript_include_tag "episodes" %>
  <script>
    $("textarea#comment_content").keydown(function(e) {
      if (e.ctrlKey && e.keyCode == 13) {
        $("#new_comment input[type=submit]").click();
      }
    });
  </script>
<% end %>
