<% title @episode.name, false %>

<%= render "shared/player", :episode => @episode %>

<%= render partial: "shownote", locals: {episode: @episode} %>

<div class="comments container">
  <% @episode.comments.each do |comment| %>
    <%= render :partial => "comments/comment", :locals => {c: comment} %>
  <% end %>
  <% if current_user %>
    <%= render partial: "comments/form", locals: {episode: @episode} %>
  <% else %>
      <%= link_to t("login_and_comment"), login_path(:return_to => request.url) %>
  <% end %>
</div>
