
<div class="tag-list clearfix container">
  <%= link_to "/tag/linux" do %>
    <i class="fa fa-linux"></i>
    <p>Linux</p>
  <% end %>
  <%= link_to "/tag/html5" do %>
    <i class="fa fa-html5"></i>
    <p>HTML5</p>
  <% end %>
  <%= link_to "/tags" do %>
    <i class="fa fa-line-chart"></i>
    <p>ALL</p>
  <% end %>
  <%= link_to "/tag/linux" do %>
    <i class="fa fa-linux"></i>
    <p>Linux</p>
  <% end %>
  <%= link_to "/tag/html5" do %>
    <i class="fa fa-html5"></i>
    <p>HTML5</p>
  <% end %>
  <%= link_to "/tags" do %>
    <i class="fa fa-line-chart"></i>
    <p>ALL</p>
  <% end %>
</div>
