<div class="tag-list clearfix container">
  <%= link_to "/tag/linux" do %>
    <i class="fa fa-linux"></i>
    <p>Linux 系统管理</p>
  <% end %>
  <%= link_to "/tag/html5" do %>
    <i class="fa fa-html5"></i>
    <p>HTML5+CSS+JS</p>
  <% end %>
  <%= link_to "/tag/rails" do %>
    <i class="fa fa-cab"></i>
    <p>Ruby On Rails</p>
  <% end %>
  <%= link_to "/tag/git" do %>
    <i class="fa fa-github"></i>
    <p>git 和 github</p>
  <% end %>
  <%= link_to "/tag/ff" do %>
    <i class="fa fa-paint-brush"></i>
    <p>Feature Focus</p>
  <% end %>
  <%= link_to "/tags" do %>
    <i class="fa fa-line-chart"></i>
    <p>查看全部</p>
  <% end %>
</div>
