<div class="name-card-row clearfix">
  <div class="name-card">
    <%= image_tag "authors/happypeter.jpg" %>
    <div class="text">
      <div class="name">
        <%= link_to "happypeter", "http://github.com/happypeter" %>
      </div>
      喜欢用 Rails 做 Web 应用，是一个 Everything Programmer，喜欢能够自己实现一个好玩的想法。平时开发用 Mac 和 ubuntu 。
    </div>
  </div>

  <div class="name-card">
    <%= image_tag "authors/billie66.jpg" %>
    <div class="text">
      <div class="name">
        billie
      </div>
      happypeter 的媳妇。技术上和 happypeter 比较类似。
    </div>
  </div>
</div>

<div class="name-card-row">
 <div class="name-card">
    <%= image_tag "authors/zongsheng.jpg" %>
    <div class="text">
      <div class="name">
        <%= link_to "李宗晟", "http://github.com/Orlandolee" %>
      </div>
      一个在创业路上不断努力的后端程序员(前端太难了)。
      现在在加州美丽的圣芭芭拉小城工作，主要用rails，平时还做一些架构的东西，比如 nginx，rabbitmq，mysql，passenger，HA，netscaler 等等，业余时间自己做一些有意思的创业小项目，现在在做 http://www.chuochuo.me 一个用户忠诚度的网站。希望能跟大家多交流，一起进步。对了，我偶尔还会打打网球，健健身，冲冲浪，还是个吃货。
    </div>
  </div>
</div>
