<div class="row clearfix">
  <div class="name-card">
    <%= image_tag "reviewers/ryanb.jpeg" %>
    <div class="text">
      <div class="name">
        <%= link_to "Ryan Bates", "https://github.com/ryanb" %>
      </div>
      <div class="job-title"><%= link_to "Railscasts 创办人", "http://railscasts.com/" %></div>
      Hi Peter, congratulations on launching your site! -- 2012.1.11
    </div>
  </div>
  <div class="name-card">
    <%= image_tag "reviewers/lilu.jpeg" %>
    <div class="text">
      <div class="name">
        <%= link_to "lilu", "http://knewone.com/" %>
      </div>
      <div class="job-title"><%= link_to "knewone 联合创始人", "http://knewone.com/" %></div>
      这位就是录 Happycasts 的 Peter...你没听说过呀...吃吃吃
    </div>
  </div>
  <div class="name-card">
    <%= image_tag "reviewers/lgn21st.jpg" %>
    <div class="text">
      <div class="name">
        <%= link_to "lgn21st", "https://github.com/lgn21st" %>
      </div>
      <div class="job-title">
        <%= link_to "Teahour 主播", "http://teahour.fm/" %>,
        <%= link_to "RubyChina 发起人", "https://ruby-china.org/lgn21st" %>,
        <%= link_to "云币 CTO", "https://yunbi.com/" %>
      </div>
      （tmux 视频）不知道说什么好了，只有赞一个！
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="name-card">
    <%= image_tag "reviewers/huashun.jpg" %>
    <div class="text">
      <div class="name">
        <%= link_to "huacnlee", "https://github.com/huacnlee" %>
      </div>
      <div class="job-title">
        阿里巴巴, <%= link_to "RubyChina 发起人", "https://ruby-china.org/huacnlee" %>
      </div>
      我把你的视频推荐给我的表弟了
    </div>
  </div>
  <div class="name-card">
    <%= image_tag "reviewers/knwang.jpg" %>
    <div class="text">
      <div class="name">
        <%= link_to "knwang", "http://www.gotealeaf.com/" %>
      </div>
      <div class="job-title"><%= link_to "茶叶学院联合创始人", "http://www.gotealeaf.com/" %></div>
      原来是夫妻店啊，加油！
    </div>
  </div>
  <div class="name-card">
    <%= image_tag "reviewers/quakewang.jpeg" %>
    <div class="text">
      <div class="name">
        <%= link_to "quakewang", "https://github.com/quake" %>
      </div>
      <div class="job-title"><%= link_to "蝉游记联合创始人", "http://chanyouji.com/" %></div>
      晚上访问的时候，页面出来有点慢，F12 看了一下，css/js 等文件没有 gzip?
    </div>
  </div>
</div>
