<div class="heading">
  <div class="container">
    书籍
  </div>
</div>
<div class="container books">
  <div class="row clearfix">
    <div class="book">
      <%= link_to "http://happypeter.github.io/tealeaf-http/" do %>
        <%= image_tag "tealeaf-http.jpg" %>
      <% end %>
      <div class="name">
        <%= link_to "HTTP 下午茶", "http://happypeter.github.io/tealeaf-http/" %>
      </div>
    </div>
    <div class="book">
      <%= link_to "http://billie66.github.io/TLCL/" do %>
        <%= image_tag "tlcl.jpg" %>
      <% end %>
      <div class="name">
        <%= link_to "快乐的 Linux 命令行", "http://billie66.github.io/TLCL/" %>
      </div>
    </div>
  </div>
</div>
