<div class="heading">
  <div class="container">
    成套课程
  </div>
</div>
<div class="container courses">
  <div class="row clearfix">
    <div class="course">
      <%= link_to "http://haoqicat.com/happypeter/zhi-fu-bao-shou-kuan-ji-cheng" do %>
        <%= image_tag "courses/zhifu.png" %>
      <% end %>
      <div class="name">
        <%= link_to "支付宝收款集成", "http://haoqicat.com/happypeter/zhi-fu-bao-shou-kuan-ji-cheng" %>
      </div>
    </div>
    <div class="course">
      <%= link_to "http://haoqicat.com/happypeter/html7" do %>
        <%= image_tag "courses/html7.jpg" %>
      <% end %>
      <div class="name">
        <%= link_to "HTML7", "http://haoqicat.com/happypeter/html7" %>
      </div>
    </div>
    <div class="course">
      <%= link_to "http://www.imooc.com/view/181" do %>
        <%= image_tag "courses/linux.jpg" %>
      <% end %>
      <div class="name">
        <%= link_to " Linux Guide for Developers", "http://www.imooc.com/view/181" %>
      </div>
    </div>
    <div class="course">
      <%= link_to "http://www.imooc.com/view/230" do %>
        <%= image_tag "courses/rails10.jpg" %>
      <% end %>
      <div class="name">
        <%= link_to "Rails10日谈", "http://www.imooc.com/view/230" %>
      </div>
    </div>
    <div class="course">
      <%= link_to "http://www.imooc.com/view/291" do %>
        <%= image_tag "courses/rails-tricks.jpg" %>
      <% end %>
      <div class="name">
        <%= link_to "Rails 技巧库", "http://www.imooc.com/view/291" %>
      </div>
    </div>
    <div class="course">
      <%= link_to "http://www.imooc.com/view/333" do %>
        <%= image_tag "courses/subl.jpg" %>
      <% end %>
      <div class="name">
        <%= link_to "快乐的 sublime 编辑器", "http://www.imooc.com/view/333" %>
      </div>
    </div>
  </div>
</div>
