<div class="heading">
  <div class="container">
    Search: <%= params[:q] %>
  </div>
</div>
<div class="body container clearfix">
<% if @episodes.blank? %>
  搜索功能暂不开放
<% else %>
  <% @episodes.each_slice(3).to_a.each do |g| %>
  <div class="ep-row clearfix">
    <% g.each do |e| %>
      <%= link_to "/episodes/#{e[:document][:eid]}" do %>
        <div class="ep_card">
          <div class="screenshot">
            <%= image_tag("http://7u2jok.com1.z0.glb.clouddn.com/#{e[:document][:asset_name]}.png") %>
          </div>
          <h2 class="name">
            <%= e[:document][:name] %>
            <% if e[:document][:revision].present? %>
              <span class="label"><%= e[:document][:revision] %></span>
            <% end %>
          </h2>
          <div class="metadata">
            第<%= e[:document][:eid] %>期
            <span class="date"> | <%= I18n.l(e[:document][:published_at].to_date, :format => :long).chop %> </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
<% end %>
</div>
