<div class="heading">
  <div class="container">
    Search: <%= params[:q] %>
  </div>
</div>
<div class="st-results container clearfix">
<% if @ep_results.empty? %>
  抱歉，没有找到匹配项
<% else %>
  <% @ep_results.each do |e| %>
    <div class="st-result-item clearfix">
      <div class="screenshot">
        <%= link_to "/v/#{e['external_id']}" do %>
          <%= image_tag("http://7u2jok.com1.z0.glb.clouddn.com/#{e['asset_name']}.png") %>
        <% end %>
      </div>
      <div class="details">
        <h2 class="title">
          <%= link_to "/v/#{e['external_id']}" do %>
            <% if e['highlight']['title'].present? %>
              <%= e['highlight']['title'].html_safe %>
            <% else %>
              <%= e['title'] %>
            <% end %>
            <% if e['revision'].present? %>
              <span class="label"><%= e['revision'] %></span>
            <% end %>
          <% end %>
        </h2>
        <div class="metadata">
          第<%= e['external_id'] %>期
          <span class="date"> | <%= I18n.l(e['created_at'].to_date, :format => :long).chop %> </span>
        </div>
        <div class="info">
          <% if e['highlight']['description'].present? %>
            <%= e['highlight']['description'].html_safe %>
          <% elsif e['highlight']['note'].present? %>
            <%= e['highlight']['note'].html_safe %>
          <% else %>
            <%= e['description'] %>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>
<% end %>
</div>
