<div class="reviewers">
  <div class="container">
    <%= render "testimonials" %>
    <div class="row clearfix">
      <div class="name-card">
        <%= image_tag "reviewers/congteng.jpg" %>
        <div class="text">
          <div class="name">
            <%= link_to "congteng", "https://github.com/tengcong" %>
          </div>
          <div class="job-title">SegmentFault 黑客马拉松冠军队员</div>
          你那视频不一样... 的确有用
        </div>
      </div>
      <div class="name-card">
        <%= image_tag "reviewers/shooter.jpg" %>
        <div class="text">
          <div class="name">
            <%= link_to "shooter", "https://github.com/shooterman" %>
          </div>
          <div class="job-title">SegmentFault 黑客马拉松冠军队员</div>
          Peter 的视频里面总能让我发现一些惊喜。
        </div>
      </div>
      <div class="name-card">
        <%= image_tag "reviewers/ken.png" %>
        <div class="text">
          <div class="name">
            <%= link_to "ken", "https://www.ytvpn.com/" %>
          </div>
          <div class="job-title"><%= link_to "云梯创始人", "https://www.ytvpn.com" %></div>
          赞，比原来的好！
        </div>
      </div>
    </div>
  </div>
</div>
