<%= render 'home_banner' %>

<h2 class="slogan">
  <%= image_tag "puppy.png", class: "puppy" %>
  <span>视频分类如下</span>
</h2>
<%= render 'home_page_tags' %>
<%= render "home_about_me" %>
<%= render "home_reviewers" %>
