<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "HappyCasts" %></title>
  <link href="/assets/play.png" rel="icon" type="image/x-png" />
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34710471-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>	
<div id="wrapper">
  <%= render 'shared/header' %>
  <div class="container">
    <%= yield %>
    <div id="footer-push"></div><!-- hack for sticky footer -->
  </div>
</div>
<div class="footer">
  <div class="container">
    <ul class="footer_nav">
      <h4>Happycasts</h4>
      <li><a href="/about">About</a></li>
      <li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">License</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
    <ul class="footer_nav">
           <h4>Others</h4>
      <li><a href="http://ruby-china.org/">Ruby-China</a></li>
      <li><a href="http://www.linfo.org/">Linfo</a></li>
      <li><a href="http://www.github.com/happypeter/happycasts">Code on Github</a></li>
    </ul>
    <ul class="footer_nav">
      <h4>Meetup</h4>
      <li><a href="http://offline.happycasts.net/"><%= t("offline_meetup") %></a></li>
    </ul>
  </div>
</div>
<%= javascript_include_tag "application"%>
<%= yield :scripts %>
</body>
</html>
