<!DOCTYPE html>
<html>
<head>
    <title><%= content_for?(:title) ? yield(:title) : "HappyCasts" %></title>
  <link rel="shortcut icon" href="/images/screen.png"/>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://cdn.sublimevideo.net/js/ubisak9n.js" %>
  <%= javascript_include_tag "jquery","application"%>
  <%= csrf_meta_tag %>
  
</head>
<body>	
    <div id="top">
      <div class="logo"><%= link_to image_tag("logo.png", :size => "330x120", :alt => "RailsCasts - Ruby on Rails Screencasts"), root_path %></div>
      <ul class="subscribe horizontal">
         <li>
                  <% if current_user %>  
                  <% @user= User.find(current_user.id) %>
                  <%= link_to current_user.name, user_path(@user) %> |
                  <%= link_to "Log out", log_out_path %>  
                  <% else %>  
                   <%= link_to image_tag("icons/login_gray.png", :size => "65x30"), "http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=218282043" %>
                   <%= link_to "Log in with github", "auth/github" %>  
                  <% end %>  
         </li>
      </ul>
    </div>
    <div id="nav_bar">
      <ul class="nav horizontal">
        <li><%= link_to_unless_current "Browse Episodes", root_url %></li>
        <li><%= link_to_unless_current "About HappyCasts", "/about" %></li>
      </ul>
      <%= form_tag episodes_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search], :size => 35 %>
        <%= submit_tag "Search Episodes", :name => nil %>
      <% end %>
    </div>
    <div id="main">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end -%>

      <%= yield %>
    </div>
    <div id="footer">
      <div class="inner">
	<a href="/users">Users</a> &middot;
	<a href="http://happypeter.org">happpeter.org</a> &middot;
        &copy;<%= Date.today.year %> HappyCasts - This site is <%= link_to "open source", "https://github.com/happypeter/happycasts" %>
      </div>
    </div>

</body>
</html>
