<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "HappyCasts" %></title>
  <link href="/assets/play.png" rel="icon" type="image/x-png" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tag %>
  
</head>
<body>	
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h3><a class="brand" href="/">Happycasts</a></h3>
            <ul class="nav">

            </ul>
            <ul class="nav pull-right">
                  <% if current_user %>  
                    <% @user= User.find(current_user.id) %>
                    <li><%= link_to current_user.name, user_path(@user) %></li>
                    <li><%= link_to "Log out", log_out_path %></li>
                  <% else %>  
                    <li><%= link_to "Log in", log_in_path %></li>
                  <% end %>  
            </ul>
        </div>
    </div>
</div>
<div id="container">
      <%= yield %>
 <div id="footer-push"></div><!-- hack for sticky footer -->
</div>
    <div id="footer">
      <div class="inner">
        footer
      </div>
    </div>

</body>
</html>
