<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "HappyCasts" %></title>
  <link href="/images/play.png" rel="icon" type="image/x-png" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery","application"%>
  <%= csrf_meta_tag %>
  
</head>
<body>	
<% if params[:locale] == 'en' %>
<%# link_to "中文", "?locale=zh" %> <%# FIXME: just want to link to curent page with no param%>
<% else %>
<%# link_to "English", "?locale=en" %>
<% end %>
    <div id="maintitle">
      <a href="/">happycasts</a>
    </div>
    <div id="nav_bar">
      <ul class="nav horizontal">
        <li><%= link_to_unless_current "Browse Episodes", root_url %></li>
        <li><%= link_to_unless_current "About HappyCasts", "/about" %></li>
         <li>
                  <% if current_user %>  
                  <% @user= User.find(current_user.id) %>
                  <%= link_to_unless_current current_user.name, user_path(@user) %> |
                  <%= link_to "Log out", log_out_path %>  
                  <% else %>  
                   <%= link_to_unless_current "login", "/log_in" %>  
                  <% end %>  
         </li>
      </ul>
    </div>
    <div id="main">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end -%>

      <%= yield %>
    </div>
    <div id="footer">
      <div class="inner">
        <a href="http://happypeter.org">HappyNews</a>
      </div>
    </div>

</body>
</html>
