<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "HappyCasts" %></title>
  <link href="/favicon.png" rel="icon" type="image/x-png" />
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <link href="http://vjs.zencdn.net/4.3/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.3/video.js"></script>
</head>
<body>
<div id="wrapper">
  <%= render 'shared/header' %>
  <% if params[:autoplay] %>
    <div class="player-bg"></div>
  <% end %>
  <div id="main-content">
    <div class="container">
      <div class="<%= "autoplay-wrap" if params[:autoplay] %>">
        <% if flash[:notice] %>
          <p class="notice">
            <span><%= flash[:notice] %></span>
            <span class="close"><i class="fa fa-times-circle-o"></i></span>
          </p>
        <% end %>
        <%= yield %>
      </div>
      <div id="footer-push"></div><!-- hack for sticky footer -->
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <ul class="footer_nav">
      <h4>Happycasts</h4>
      <li><a href="/about">About</a></li>
      <li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">License</a></li>
      <li><a href="/users">Users(<%= User.count %>)</a></li>
      <li><a href="http://www.github.com/happypeter/happycasts">Code on Github</a></li>
    </ul>
    <ul class="footer_nav">
      <h4>Others</h4>
      <li><a href="http://ruby-china.org/">Ruby-China</a></li>
      <li><a href="http://www.linfo.org/">Linfo</a></li>
      <li><a href="http://billie66.github.io/TLCL/">The Linux Commandline(zh)</a></li>
    </ul>
    <ul class="footer_nav">
      <h4>支持</h4>
      <li><a href="/donate">捐助</a></li>
    </ul>
    <ul class="footer_nav">
      <h4><%= t("haoqicat_course") %></h4>
      <li><a href="http://haoqicat.com/happypeter">haoqicat.com/happypeter</a></li>
    </ul>
  </div>
</div>
<%= javascript_include_tag "application"%>
<%= yield :template_js %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34710471-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>
  $(".notice .close").click(function(){
    $(".notice").fadeOut("slow");
  });
</script>
</body>
</html>
