<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "HappyCasts" %></title>
  <link href="/assets/play.png" rel="icon" type="image/x-png" />
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34710471-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>	
<div id="wrapper">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand">
              <div id="puppy_img">
                <a href="/">
                  <%= image_tag "puppy.png" %>
                </a>
              </div>
              <a href="/">
                <%= image_tag "logo.png", :id => "logo_img" %>
              </a>
              <div id="tag_line">
                <%= link_to t("tag_line"), about_path %>
              </div>
            </div>
            <ul class="nav">
        <form action="/search" class="navbar-search pull-left" method="get">
          <input type="text" name="q" class="search-query span3" value="<%= params[:q] %>" placeholder="<%= t("search") %>" />
        </form>

            </ul>
            <ul class="nav pull-right">
                  <% if current_user %>
                    <li><%= link_to current_user.name, user_path(current_user) %></li>
                    <li><%= link_to  t("logout"), logout_path %></li>
                  <% else %>
                    <li><%= link_to t("login"), login_path(:return_to => request.url) %></li>
                    <li><%= link_to t("signup"), signup_path(:return_to => request.url) %></li>
                  <% end %>
            </ul>
        </div>
    </div>
</div>
<div id="container">
      <%= yield %>
 <div id="footer-push"></div><!-- hack for sticky footer -->
</div>
</div>
<div class="footer">
  <div class="container">
    <ul class="footer_nav">
      <h4>Happycasts</h4>
      <li><a href="/about">About</a></li>
      <li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">License</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="http://offline.happycasts.net/"><%= t("offline_meetup") %></a></li>
    </ul>
    <ul class="footer_nav">
           <h4>Interesting Sites</h4>
      <li><a href="http://www.catonmat.net/">Catonmat</a></li>
      <li><a href="http://www.linfo.org/">Linfo</a></li>
      <li><a href="http://www.github.com/">Github</a></li>
    </ul>
  </div>
</div>
<%= javascript_include_tag "application"%>
<%= yield :scripts %>
</body>
</html>
